
/*Header*/
.bgk-header-nav{
    background-color: #F8F9FA;
}
  /*Nav-bar*/
.nav-bar{
    height: 4.5rem;
    color: #5B5858;
    z-index: 99;
   
}

   /*Gruppo DX*/
.bell_icon{
    color: #FF8F00;
}
.question_icon{
    color: white;
    background-color: #5B5858 ;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 2rem; 
    padding: .1rem;
}

.icons-group{
    width: 10%;
}

.icon_grey{
    color: #5B5858;
}
  /*Gruppo SX*/
.img_logo{
    width: 10%;
}
.logo_small{
    width: 40px;
}
   /*Centro*/
.barra_ricerca{
    width: 70%;
    padding-top: .5rem;
}
.barra_ricerca .color{
    background-color: #E5E5E5; 

}


.icon_col_left{
    display: inline-block;
    width: 25px;
    margin-right: .5rem;
    
}

/*MAIN*/

.side_bar{
    width: 13%;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    padding-top: 5rem;
    padding-inline: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.side_bar a{
    color: white;
    text-decoration: none;
}
.side_bar a:hover{
    content: "";
    background-color: rgba(255, 255, 255, .3);
}

.central{
    width: 87%;
    height: 100%;
    padding-top: 4.5rem ;
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.central-sub{
    padding-inline: 1rem;
}
.riga-blu{
    background-color: #1B72E8;
    display: flex;
    align-items: center;


}
.add{
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    text-align: center ;
}
.list-blue{
    list-style: none;
    width: 90%;
    margin: auto;
}

.btn-blue{
    background-color: #165BBA;
    
}
.icon_magg{
    font-size: 10px; 
}

.student_counter{
    font-size: 40px;
    
    
}


.code-red{
    background-color: #F26551;
    color: white;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 4rem;
    padding: .3rem;
    padding-top: .4rem;
    margin-right: 1.5rem;
}



/*MEDIA QUERY*/

@media screen and (max-width: 989px){

     .ul_icon, .question_icon, .ellipsis_icon{
        display: none;
       
     }
     .img_logo{
        display: none;
     }
     .no-mob{
        display: none;
     }
    
}



@media screen and (min-width: 990px)
{
    .logo_small{
        display: none;
    }
   .no-dks{
        display: none;
    }
}


    