body{
    height: 100vh;
    overflow: hidden;
}
/*Header*/
.bgk-header-nav{
    background-color: #F8F9FA;
}
  /*Nav-bar*/
.nav-bar{
    height: 4.5rem;
    color: #5B5858;
    
}

   /*Gruppo DX*/
.bell_icon{
    color: #FF8F00;
}
.question_icon{
    color: white;
    background-color: #5B5858 ;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 2rem; 
    text-align: center;
    padding: .1rem;
}

.icons-group{
    width: 10%;
}
  /*Gruppo SX*/
.img_logo{
    width: 10%;
}
.logo_small{
    width: 40px;
}
   /*Centro*/
.barra_ricerca{
    width: 70%;
    padding-top: .5rem;
}
.barra_ricerca .color{
    background-color: #E5E5E5; 

}


main{
    padding-top: 4.5rem;
   
}

.icon_col_left{
    display: inline-block;
    width: 25px;
    margin-right: .5rem;
   
}

.contents{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 4rem) ;
}

 




/*MEDIA QUERY*/

@media screen and (max-width: 989px){

     .ul_icon, .question_icon, .ellipsis_icon{
        display: none;
       
     }
     .img_logo{
        display: none;
     }
     .no_mob{
        display: none;
     }
}



@media screen and (min-width: 990px)
{
    .logo_small{
        display: none;
    }

}
